.search-bar {
  position: relative;
  padding: 10px 25px;
}

.search-bar input {
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  color: #abc4dd;
  background-color: #354555;
  border: 1px solid transparent;
  text-align: center;
  transition: border-color 0.5s linear;
}

.search-bar input:focus {
  outline: none;
  border: 1px solid #ffe934;
}

.search-bar i {
  position: absolute;
  top: 15px;
  left: 40px;
  color: #abc4dd;
}
